<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if config.site_description %}<meta name="description" content="{{ config.site_description }}">{% endif %}
        {% if config.site_author %}<meta name="author" content="{{ config.site_author }}">{% endif %}
        {% if page.canonical_url %}<link rel="canonical" href="{{ page.canonical_url }}">{% endif %}
        <link rel="shortcut icon" href="{{ base_url }}/img/favicon.ico">

        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>

        <link href="{{ base_url }}/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ base_url }}/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ base_url }}/css/highlight.min.css">
        <link href="{{ base_url }}/css/base.css" rel="stylesheet">
        {%- for path in config['extra_css'] %}
        <link href="{{ path|url }}" rel="stylesheet">
        {%- endfor %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        {% include "nav.html" %}

        <div class="container">
            <div class="col-md-3">{% include "toc.html" %}</div>
            <div class="col-md-9" role="main">{% include "content.html" %}</div>
        </div>

    <footer class="col-md-12">
        <hr>
        {% if config.copyright %}
        <center>{{ config.copyright }}</center>
        {% endif %}
    </footer>

        <script src="{{ base_url }}/js/jquery.min.js"></script>
        <script src="{{ base_url }}/js/bootstrap.min.js"></script>
        <script src="{{ base_url }}/js/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <script src="{{ base_url }}/js/base.js"></script>
        {%- for path in config['extra_javascript'] %}
        <script src="{{ path|url }}"></script>
        {%- endfor %}
    </body>
</html>
