<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Main title -->
            <a class="navbar-brand" href="{{ nav.homepage.url|url }}">
            {% if config.theme.fa_logo|default(False) %}<i class="fa {{ config.theme.fa_logo }}" aria-hidden="true"></i> {% endif %}
            {{ config.site_name }}
            </a>
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
            <!-- Main navigation -->
            <ul class="nav navbar-nav">
            {% for nav_item in nav %}
            {% if nav_item.title not in config.theme.nav_right %}
            {% if nav_item.children %}
                <li class="dropdown{% if nav_item.active %} active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ nav_item.title }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    {% for nav_item in nav_item.children %}
                        {% if nav_item.title not in config.theme.hidden %}
                        <li {% if nav_item.active %}class="active"{% endif %}>
                            <a href="{{ nav_item.url|url }}">{{ nav_item.title }} </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </li>
            {% else %}
                {% if nav_item.title not in config.theme.hidden %}
                <li {% if nav_item.active %}class="active"{% endif %}>
                    <a href="{{ nav_item.url|url }}">
                      {{ nav_item.title }}
                    </a>
                </li>
                {% endif %}
            {% endif %}
            {% endif %}
            {% endfor %}
            </ul>

            <!-- Search, Navigation and Repo links -->
            <ul class="nav navbar-nav navbar-right">
            {% for nav_item in nav %}
            {% if nav_item.title in config.theme.nav_right %}
            {% if nav_item.children %}
                <li class="dropdown{% if nav_item.active %} active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ nav_item.title }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    {% for nav_item in nav_item.children %}
                        {% if "HIDDEN" not in nav_item.title %}
                        <li {% if nav_item.active %}class="active"{% endif %}>
                            <a href="{{ nav_item.url|url }}">{{ nav_item.title }} </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </li>
            {% else %}
                {% if "HIDDEN" not in nav_item.title %}
                <li {% if nav_item.active %}class="active"{% endif %}>
                    <a href="{{ nav_item.url|url }}">
                      {{ nav_item.title }}
                    </a>
                </li>
                {% endif %}
            {% endif %}
            {% endif %}
            {% endfor %}
              {% if config.theme.prev_next_enabled %}
                <li {% if not page.previous_page %}class="disabled"{% endif %}>
                    <a rel="next" {% if page.previous_page %}href="{{ page.previous_page.url|url }}"{% endif %}>
                        <i class="fa fa-arrow-left"></i> Previous
                    </a>
                </li>
                <li {% if not page.next_page %}class="disabled"{% endif %}>
                    <a rel="prev" {% if page.next_page %}href="{{ page.next_page.url|url }}"{% endif %}>
                        Next <i class="fa fa-arrow-right"></i>
                    </a>
                </li>
                {% endif %}
                {% if config.repo_url %}
                <li>
                    <a href="{{ config.repo_url }}">
                        {% if config.repo_name == 'GitHub' %}
                            <i class="fa fa-gihub"></i>
                        {% elif config.repo_name == 'Bitbucket' %}
                            <i class="fa fa-bitbucket"></i>
                        {% elif config.repo_name == 'GitLab' %}
                            <i class="fa fa-gitlab"></i>
                        {% else %}
                            <i class="fa fa-code-fork"></i>
                        {% endif %}
                        {{ config.repo_name }}
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
