{% if page.toc.items|length > 1 %}
<div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
    {% for toc_item in page.toc %}
        <li class="main {% if toc_item.active %}active{% endif %}"><a href="{{ toc_item.url|url }}">{{ toc_item.title }}</a></li>
        {% for toc_item in toc_item.children %}
            <li><a href="{{ toc_item.url|url }}">{{ toc_item.title }}</a></li>
        {% endfor %}
    {% endfor %}
    </ul>
</div>
{% elif page.toc.items|length == 1 %}
  {% if page.toc.items[0].children|length > 1 %}
<div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
    {% for toc_item in page.toc %}
        <li class="main {% if toc_item.active %}active{% endif %}"><a href="{{ toc_item.url|url }}">{{ toc_item.title }}</a></li>
        {% for toc_item in toc_item.children %}
            <li><a href="{{ toc_item.url|url }}">{{ toc_item.title }}</a></li>
        {% endfor %}
    {% endfor %}
    </ul>
</div>
  {% endif %}
{% endif %}
